@import "base";
@import "components";



#form_container {
    padding: 15px 15px;
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.5);
    color: $baseWhite;
}

body {
    background-color: $baseBlack;
    background-image: url("/img/mardi_gras/people_wearing_mask.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

button:hover {
    color: $baseWhite !important;
    border-color: $basePurple !important;
    background-color: $basePurple !important;
}

h4 {
    color: $baseWhite;
    text-align: center;
}

.validation-error {
    color: $baseYellow;
}

small {
    font-size: 0.7rem;
}